<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" >
    <div class="x_panel">
        <div class="x_title">
            <h2>Trouver des chantiers
                 <small>Répondez aux demandes de devis de clients</small></h2>
            <ul class="nav navbar-right panel_toolbox">
               <span class="fa fa-search"></span> 616 chantiers trouvés
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="display: block;">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="profile_title">
                        <h2>TRIER VOTRE RECHERCHE </h2>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" checked name="trie"> Checked
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" name="trie"> Unchecked
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="profile_title">
                        <h2>AFFICHER PAR DISTANCE </h2>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" checked name="distance"> Checked
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" name="distance"> Unchecked
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" name="distance"> Unchecked
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" class="flat" name="distance"> Unchecked
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <ul class="list-unstyled msg_list">
                    <li>
                        <a>
                             <span class="image">

                             </span>
                            <span>
                                <span>John Smith</span>
                                <span class="time">3 mins ago dvsvcdcksd c lclk c c</span>
                            </span>
                            <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
</div>
