body{
    overflow-x: hidden;
    opacity: 0.9;
    color: #000000;
}
body a{
    text-decoration: none;
}
.clear{
    padding: 10px;
}
.loader {
    position : fixed;
    z-index: 9999;
    background : url('icon-loader1.gif') 50% 50% no-repeat;
    top : 0px;
    left : 0px;
    height : 100%;
    width : 100%;
    cursor : wait;
}
.menu-bar-top{
    background:#404040;

}
.menu-bar-top-bottom{
    background:  #FE980F;
    border-bottom: 1px solid #2a2a2a;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.band-sociaux{
    color:#FFFFFF;
    margin-top: 7px;
    margin-left: 5px;
}
.band-menu{
    color:#FFFFFF;
}
.band-menu a{
    color: #FFFFFF;
    margin: 10px;
}
.zone-logo{
    text-align: center;
}
.menu-right-bottom{

    padding:25px;
}
.menu-right-bottom a{
    margin: 10px;
    font-weight: bold;
    color: #287995 ;
}
.slider{
    padding: 10px;
    background-color: transparent;
    color: #27aae1;
}
.btn-inscrit{
    margin-right: 50px;
}
.icon-bar1{
    background: rgba(255, 255, 255, 0.3);;
    padding: 10px;
}
.search-prestataire{
    background: #f0f0f0;
    padding: 10px;
}
.search-formulaire{
    background: #FE980F;
    padding: 5px;
}
.prestataire-list{
    background-color: white;
    padding: 5px;
    border: 1px solid #FE980F;
}

.rating{
     color: #a9a9a9;
     margin: 0;
     padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: yellow;
}
.carte{
    background: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #2a2a2a;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.icon-bar2{
    background:#287995 ;
    padding: 10px;
    border-bottom: 1px solid #2a2a2a;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.text-icon-bar2{
    color: #FFFFFF;
}
.separateur{
    border: 1px solid #2a2a2a;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.carroussel{

}
.footer-top{
    background:#404040;
    padding: 5px;
    color: #FFFFFF;
    border-top: 1px solid #FE980F;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.footer-bottom{
    background: #2a2a2a;
    color: #FFFFFF;
}
.footer-bottom a{
    margin: 10px;
    color: #FFFFFF;
}

.test1{
    background-color: #f5f5f5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    margin-top: 15px;
    border-top: 2px solid #e5e5e5;
}
.test2{
    background-color: #FFFFFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e5e5e5;
}
.test3{
    background-color: red;
}
.test4{
    padding: 50px;
    background: pink;
}